In [1]:
import os # miscellaneous os interfaces

In [2]:
import datetime as dt   # python core datetime utility module
import datetime_ as dt_ # https://ds-gringotts.readthedocs.io/en/latest/modules/utils/dtutils.html

In [3]:
from tqdm import tqdm as TQ # progress bar for loops

In [15]:
import sqlalchemy # object relational mapper for database

In [4]:
import pandas as pd

%precision 3
pd.set_option('display.max_rows', 50) # max. rows to show
pd.set_option('display.max_columns', 15) # max. cols to show
pd.options.display.float_format = '{:,.3f}'.format # float precisions

In [5]:
import forexrates # a simple interface to fetch data from multiple sources

In [6]:
start, end = dt.date(2025, 5, 28), dt.date(2025, 5, 28)
dates = list(dt_.date_range(start, end)) # please refer gist documentation

In [16]:
EXCHANGE_RATES_API_KEY = input("Enter API Key for Exchange Rates IO (exchangeratesapi.io): ") or os.getenv("EXCHANGE_RATES_API_KEY")

Enter API Key for Exchange Rates IO (exchangeratesapi.io):

In [17]:
data = [
    forexrates.api.ExchangeRatesAPI(apikey = EXCHANGE_RATES_API_KEY, endpoint = date.strftime("%Y-%m-%d")).get(verify = False, suppresswarning = True)
    for date in TQ(dates, desc = f"Fetching FOREX Rates from {start} to {end} (= {(end - start).days + 1}):")
]

Fetching FOREX Rates from 2025-05-28 to 2025-05-28 (= 1):: 100%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 1/1 [00:00<00:00,  1.70it/s]

In [21]:
parser = forexrates.io.dataframe.ExchangeRatesIO(data)
dataframe = parser.dataframe(index = "exchange_rate", verbose = True)

# addition of extra columns, modification of values, etc.
# are out of scope of the ``forexrates`` module and is external
dataframe["data_source_proxy_id"] = 1

dataframe.sample(3)

Parsing Records...: 100%|██████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 1/1 [00:00<00:00, 108.49it/s]

Total Parsed Records: 170
  >> Date Range: 2025-05-28 - 2025-05-28
  >> Base Currency: ['EUR']
  >> # UQ Targets: 170

,effective_date,base_currency_code,target_currency_code,exchange_rate,data_source_proxy_id
132,2025-05-28,EUR,SLE,25.522,1
153,2025-05-28,EUR,UZS,"14,480.581",1
26,2025-05-28,EUR,BZD,2.257,1

In [22]:
engine = sqlalchemy.create_engine("postgresql://postgres:adm!N@localhost/dataway") # create an sqlalchemy engine

In [23]:
# dataframe.to_sql("forex_rate_tx", engine, schema = "common", if_exists = "append", index = False)

170